version: '3'
services:
  app:
    image: oybekmuzropov/vacancy:latest
    restart: always
    environment:
      - APP_NAME=${APP_NAME}
      - APP_PORT=${APP_PORT}
      - ENVIRONMENT=${ENVIRONMENT}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_TTL=${REDIS_TTL}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHANNEL_ID=${TELEGRAM_CHANNEL_ID}
    ports:
      - "8082:8080"
    volumes:
      - vacancy_data:/data
    depends_on:
      - vacancy_cache
  vacancy_cache:
    image: redis
    restart: always
    ports:
      - "6378:6379"
    volumes:
      - cache:/data
volumes:
  vacancy_data:
  cache:

